*{
    margin: 5px;
    padding: 0;
}

body{
    background-color: rgb(0, 3, 3);
}



#container{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    height: 400px;
    justify-content:end;

}

#box1{
    background-color: coral;
        height: 100px;
    width: 100px;

}


#box2{
    background-color: rgb(114, 179, 105);
        height: 100px;
    width: 100px;

}


#box3{
    background-color: rgb(188, 221, 111);
        height: 100px;
    width: 100px;

}


#box4{
    background-color: rgb(216, 155, 133);
        height: 100px;
    width: 100px;

}


#box5{
    background-color: rgb(158, 160, 236);
        height: 100px;
    width: 100px;

}






































/* body{
    text-align: center;
}

 div{
    display: inline-block;
    height: 50px;
    width: 150px;
    border: 1px,solid,black;

 }

#container{
    width: 400px;
    height: 200px;
    background-color: aqua;
    display: flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap: wrap;
    align-items:start ;

}

#box1{
    background-color: rgb(223, 142, 192);
    

}
#box2{
    background-color: rgb(207, 149, 126);

    
}

#box3{
    background-color: rgb(167, 223, 167);

}

#box4{
    background-color: rgb(151, 182, 121);
    
}

#box5{
    background-color: rgb(207, 183, 230);

} */